body {
    background-color: #32261A;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    color: #fff;
    padding: 10px;
}

.img-logo {
    width: 200px;
}

.navbar .navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .navbar-items ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar .navbar-items ul li {
    margin-right: 50px;
    position: relative; 
}

.navbar .navbar-items ul li:last-child {
    
    margin-right: 0;
}

.navbar .navbar-items ul li a {
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.navbar .navbar-items ul li a:hover {
    color: #F9B985;
}

.navbar .navbar-items ul li::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(255, 165, 106, 0.8);
    transform: scaleX(0);
    transition: transform 0.6s ease, border-radius 0.3s ease;
    border-radius: 0;
}

.navbar .navbar-items ul li:hover::after {
    transform: scaleX(0.7);
    border-radius: 10px;
}

.button-reg {
    font-weight: 600;
    font-size: x-large;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    border: 2px solid rgba(249, 185, 133, 0.23);
    background: transparent;
    color: #F9B985;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.button-reg:hover {
    transform: scale(1.1);
}

.button-reg:active {
    transform: scale(1); 
}

.section1 {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin: 10px;
    height: 600px;
}

.text1 {
    font-family: Arial, sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.span1 {
    color: #F9B985;
}

.text2 {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

.button-tutorials {
    font-weight: 600;
    font-size: large;
    width: 180px;
    height: 65px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
    background: linear-gradient(#AF612D, #FFA56A);
    margin-right: 20px;
}

.button-version {
    font-weight: 600;
    font-size: large;
    width: 160px;
    height: 65px;
    border-radius: 10px;
    border: 2px solid #E28C54;
    background-color: transparent;
    color: #E28C54;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.button-tutorials:hover, .button-version:hover {
    transform: scale(1.1);
}

.button-tutorials:active, .button-version:active {
    transform: scale(1);
}

.img-drlearn {
    width: 600px;
    height: 400px;
    transform: translate(0px, 80px);
}

.section2 {
    display: flex;
    justify-content: space-around;
    height: 250px;
}

.block1 {
    width: 800px;
    height: 125px;
    background-color: #C6743E;
    border-radius: 20px;
}

.img-icons {
    height: 90px;
    transform: translate(60px);
}

.img-text {
    height: 30px;
    width: 720px;
    transform: translate(40px, -5px);
}

.section3 {
    display: flex;
    justify-content: center;
}

.text3 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.block2, .block3, .block4 {
    width: 352px;
    height: 288px;
    background-color: rgb(255, 196, 158, 0.1);
    border-radius: 10px;
    border: 1px solid rgb(175, 97, 45);
    display: inline-block; 
    margin: 5px; 
}

.button-buy {
    font-weight: 600;
    font-size: large;
    width: 98px;
    height: 74px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
    background: linear-gradient(#AF612D, #FFA56A);
    margin-right: 20px;
    transform: translate(235px, -165px);
}

.button-buy:hover {
    transform: translate(235px, -165px) scale(1.1);
}

.button-buy:active {
    transform: translate(235px, -165px) scale(1);
}

.text4 {
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: white;
    transform: translate(25px, -75px);
}

.span2 {
    color: #F9B985;
    font-weight: 500;
}

.img-react, .img-javascript, .img-tailwindcss {
    width: 350px;
    height: 200px;
    transform: translate(0px, -55px);
}

.img-20, .img-10 {
    width: 65px;
    height: 55px;
    transform: translate(275px, -30px);
    position: relative;
    z-index: 2;
}

.img-40 {
    width: 50px;
    height: 55px;
    transform: translate(275px, -30px);
    position: relative;
    z-index: 2;

}